@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
}

.menu a {
    text-decoration: none;
    padding: 0 2rem;
    color: black;
}

.toppage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    text-align: left;
    font-size: .8rem;
    margin-left: 3rem;
}

.right img {
    width: 80%;
    margin-left: 6rem;
}

.left p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.left input {
    width: 220px;
    height: 25px;
}

.middle {
    background-image: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.middlepage {
    border: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.mright img {
    width: 80%;
    margin-left: 6rem;
}

.mleft {
    border: solid red;
    margin-left: 20px;
}

.kyle {
    border: solid green;
    background: white;
    font-size: 10px;
    padding: 10px;
    margin-top: 20px;
    
}

.profile img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.end {
    border: solid;
    background-color: hsl(238, 22%, 44%);
    display: flex;
    justify-content: space-between;
    padding: 35px;
    align-items: center;
}

.endleft-text {
    color: hsl(0, 0%, 75%);
}

.endleft-text p {
    font-size: 12px;
    border: solid;
    padding: 10px;
}